@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1370px;
  width: 100%;
  margin: auto;
}
button {
  cursor: pointer;
}
/* header */
header img {
  max-width: 308px;
  width: 100%;
  max-height: 48px;
}
header {
  background-color: #ffffff;
  margin-bottom: 19px;
}
header a {
  text-decoration: none;
}
header a {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2e7af4;
}
header .home {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
header .container {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header button {
  font-family: "Open Sans";
  font-weight: 700;
  padding: 12px 17px 11px 24px;
  color: #ffffff;
  background-color: #2e7af4;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}
/* banner */
.hero-section {
  display: flex;
  justify-content: center;
  background-image: url(../img/Group\ 50.png);
  width: 100%;
  max-height: 806px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}
.hero-section-container {
  margin-top: 191px;
  max-width: 650px;
}
.hero-section p {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  color: #2e7af4;
}
.hero-section-container .hero-section-details {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.hero-section-container h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 9px;
}
.hero-section-container p:first-child {
  text-transform: uppercase;
}
.hero-section-container button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 14px 40px 15px 41px;
  margin-top: 41px;
  color: #ffffff;
  background-color: #2e7af4;
  border: none;
  border-radius: 3px;
}
.slider {
  margin-top: 156px;
  margin-bottom: 45px;
  justify-content: center;
  display: flex;
  gap: 7px;
}
.dot {
  background-color: #d1d1d1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.blue {
  width: 23px;
  background-color: #2e7af4;
  border-radius: 5.5px;
}
/* about us */
.text-wrapper {
  max-width: 677px;
}
.text-section {
  margin-top: 207px;
}
.text-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.text-wrapper p:first-child {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  color: #2e7af4;
}
.text-wrapper p:first-child::before {
  content: "";
  margin-right: 11px;
  width: 15px;
  height: 2px;
  background-color: #2e7af4;
}
.text-wrapper h2 {
  margin-bottom: 38px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
}
.text-wrapper p {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.5);
}
.img-wrapper img {
  max-width: 632px;
  width: 100%;
  height: 100%;
}
.text-wrapper button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 26px 35px 23px 16px;
  border: none;
  background-color: rgba(46, 122, 244, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}
.triangle-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(227, 237, 253, 1);
  margin-right: 32px;
  border: 5px solid rgba(43, 177, 253, 0.38);
}
.triangle {
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid rgba(46, 122, 244, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* our team */
.team_container {
  margin-top: 267px;
  padding-bottom: 66px;
}
.team_container p:first-child {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  color: #2e7af4;
}
.team_container p:first-child::before {
  content: " ";
  margin-right: 11px;
  width: 15px;
  height: 2px;
  background-color: #2e7af4;
}
.staff_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}
.team_container h2 {
  font-family: "Gilroy";
  margin-top: 10px;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0px;
}
.staff_cards .card {
  background-color: #ffffff;
  max-width: 253px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.staff_cards .card img {
  margin-top: 17px;
  margin-bottom: 17px;
  max-width: 191px;
  width: 100%;
  max-height: 191px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.team_container .card p {
  font-family: "Open Sans";
  margin-top: 15px;
  font-weight: 700;
  size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
}
.backcolor {
  background-color: #f8f8f8;
}
.team_container .staff_cards p {
  text-align: center;
}
/* mission and vision */
.txt-container {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.txt-container p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5);
}
.txt-container p:first-child {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #2e7af4;
  margin-top: 39px;
  margin-bottom: 10px;
}
.txt-container p:first-child::before {
  content: "";
  margin-right: 11px;
  width: 15px;
  height: 2px;
  background-color: #2e7af4;
}
.txt-container h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 39px;
}
.img-container {
  max-width: 642px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.img-container {
  max-width: 642px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  flex-wrap: wrap;
}
.content-container img {
  border-radius: 10px;
}
.content-container img:nth-child(1) {
  max-width: 483px;
  width: 100%;
  max-height: 372px;
  height: 100%;
}
.content-container img:nth-child(2) {
  max-width: 446px;
  width: 100%;
  max-height: 276px;
  height: 100%;
  align-self: end;
}
.content-container img:nth-child(3) {
  max-width: 458px;
  width: 100%;
  max-height: 351px;
  height: 100%;
}
.school-section {
  margin-top: 111px;
}
/* how it works */
.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  margin-top: 84px;
}

h3 {
  display: flex;
  color: #2e7af4;
  text-decoration: none;
  margin-top: 120px;
  justify-content: center;
  margin-bottom: 10px;
}

.box1 {
  margin-top: 10px;
}

.box1 p {
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 180px;
  margin-top: 83px;
  margin-bottom: 86px;
}

.box {
  max-width: 305px;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box-head {
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  font-family: "Poppins", sans-serif;
  width: 99px;
  height: 99px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-body {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

.box:nth-child(1) .box-head {
  background-color: #ffeeb0;
  color: #c8af56;
}
.box:nth-child(2) .box-head {
  background-color: #d6f0ff;
  color: #59a6d1;
}
.box:nth-child(3) .box-head {
  background-color: #c1d9ff;
  color: #7b9bce;
}
.box:nth-child(4) .box-head {
  background-color: #d4fffc;
  color: #53a9a3;
}
.box:nth-child(5) .box-head {
  background-color: #ffe4e4;
  color: #bc8181;
}
.box:nth-child(6) .box-head {
  background-color: #ffcdf1;
  color: #b973a5;
}
/* what do your want to learn */
.card-banner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  align-items: center;
}
.card-banner-text {
  max-width: 715px;
  width: 100%;
}
.card-banner-text p {
  color: #2e7af4;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 10px;
}

.card-banner-text h2 {
  color: #000000;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
}

.card-banner-button {
  max-width: 150px;
  width: 100%;
  height: 67px;
  background-color: #2e7af4;
  border-radius: 5px;
  text-align: center;
}
.card-banner-button button {
  border: none;
  max-width: 150px;
  width: 100%;
  height: 67px;
  background-color: #2e7af4;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}

.card-banner {
  max-width: 1920px;
  width: 100%;
  background-color: #effaff;
  margin: auto;
  height: 318px;
  margin-top: 50px;
}
/* blogs */
.blog {
  padding: 50px 20px;
  text-align: center;
}
.blog__head {
  color: #2e7af4;
  font-weight: bold;
  margin-bottom: 5px;
}
.blog__cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.blog__title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #000;
  font-family: "Lato", sans-serif;
}
.card_blog {
  max-width: 426px;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  min-height: 740px;
  height: 100%;
}
.card__img {
  width: 100%;
  height: 488px;
  object-fit: cover;
}
.card__text {
  padding: 15px;
}
.line {
  width: 80px;
  height: 2px;
  background-color: #2e7af4;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
}
.card__title {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 25px;
  font-weight: bold;
  margin: 6px 0 10px;
  font-family: "Lato", sans-serif;
}
.red-badge {
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  background-color: red;
  color: #fff;
  padding: 2px 6px;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 8px;
  font-family: "Lato", sans-serif;
}
.card__desc {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  margin: 8px 0 14px;
  font-family: "Lato", sans-serif;
}
.readmore {
  color: #2e7af4;
  text-decoration: none;
  font-weight: bold;
}
.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 6px;
}
.author__img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.author__name {
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.author__role {
  font-size: 18px;
  color: gray;
  font-family: "Lato", sans-serif;
}
.view__more {
  margin-top: 30px;
  background-color: #2e7af4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
/* contact us */
.input_section {
  display: flex;
  flex-direction: column;
}
.input_section .blue_contact:first-child {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  color: #2e7af4;
}
.input_section .blue_contact:first-child::before {
  content: " ";
  margin-right: 11px;
  width: 15px;
  height: 2px;
  background-color: #2e7af4;
}
.input_section h2 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0px;
}
.input_section .gray_text {
  font-weight: 400;
  size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #a5a5a5;
}
.next_steps {
  max-width: 426px;
  max-height: 124px;
  margin-top: 72px;
  color: #2e7af4;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 61px;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  background-color: #c1d9ff;
  color: #2e7af4;
  border-radius: 6px;
}
.step1 p {
  max-width: 507px;
  max-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #a5a5a5;
  margin-left: 21px;
}
.step1 {
  display: flex;
  margin-top: 49px;
}
.form_inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 186px;
}
.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 685px;
  width: 100%;
  max-height: 973px;
  height: 100%;
  border-radius: 5px;
  background-color: #f8f8f8;
  flex-direction: column;
}
.input {
  font-weight: 400;
  size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  max-width: 624px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  margin: 25px;
}
.input input {
  background-color: #ffffff;
  border: none;
  outline: none;
  max-width: 624px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000000;
  padding: 25px;
}
.input label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
}
#role-select {
  background-color: #ffffff;
  border: none;
  outline: none;
  max-width: 624px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000000;
  padding: 25px;
  opacity: 0.5;
}
.strength {
  display: flex;
  justify-content: space-between;
}
.strength .input {
  max-width: 299px;
  width: 100%;
  max-height: 70px;
  border-radius: 4px;
}
.submit-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  background-color: #2e7af4;
  padding: 20px 55px 22px 56px;
  color: #ffffff;
  border-radius: 4px;
  outline: none;
  align-self: self-start;
  border: none;
  margin-top: 40px;
  margin-left: 34px;
  margin-bottom: 52px;
}

/* footer */
footer {
  background-color: rgba(30, 39, 52, 1);
}
footer ul {
  list-style: none;
}
.footer-container {
  margin-top: 146px;
  padding-top: 76px;
  display: flex;
  justify-content: space-between;
}
footer ul li a,
footer ul li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: rgba(225, 225, 225, 1);
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0px;
  text-decoration: none;
}
.rights {
  margin-top: 37px;
  border-top: 1px solid grey;
  text-align: center;
  color: rgba(225, 225, 225, 1);
  padding-top: 11px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0px;
}
.bold {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}
footer ul li input {
  width: 251px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
footer li button {
  background-color: rgba(46, 122, 244, 1);
  max-width: 131px;
  width: 100%;
  min-height: 43px;
  border: none;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
}
.social-media img {
  width: 36px;
  height: 36px;
}
